<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>QAP</h1>
        <h2>Welcome to my index page <%= name %>.</h2>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>